.css-5jnrm8-MuiStack-root > :not(style) + :not(style) {
  margin-left: auto !important;
}

.loader {
  /* position: absolute; */
  display: flex;
  padding-right: 20px;
  padding-top: 10px;
  width: 35px;
  height: 35px;
}

.loader-svg {
  position: relative;
  color: #00ff00;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: rotate4 2s linear infinite;
  animation: rotate4 2s linear infinite;
}

circle {
  position: absolute;
  fill: none;
  stroke: #00ff00;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  -webkit-animation: dash4 1.5s ease-in-out infinite;
  animation: dash4 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate4 {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate4 {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}
