.main-player {
  border-radius: 0 15px 15px 0;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 30px 20px;
  color: #e5e5e5;
}

.tracklist__title {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-left: 227px;
  justify-items: center;
}

.tracklist__title p {
  background: linear-gradient(106deg, #bc8c46 0%, #ffde76 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: Titillium Web;
  font-size: 20px;
}

.vizualizer-container {
  position: relative;
}

.vizualizer {
  display: none;
  position: absolute;
  border-radius: 12px;
  top: 395px;
  right: 2px;
}