.playlist-create .playlist-button {
  width: auto;
}

.playlists-create_btn {
  position: relative;
}

.playlist-create {
  display: flex;
  justify-content: space-between;
}

.playlist-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
}

.playlist-input {
  background: transparent;
  color: #e0e8efb8;
  font-size: 0.8rem;
  font-weight: 500;
  outline: 2px solid #a2b7d3;
  border-radius: 4px;
  border: 0;
  padding: 10px;
  margin-bottom: 5px;
  transition: all 0.2s;
}

.playlist-photo {
  display: flex;
  flex-direction: column;
}

@media (max-width:1100px) {
  .playlist-create {
    flex-direction: column;
    width: 80%;
  }

  .playlist-name {
    margin-bottom: 15px;
  }
}