.menu {
  white-space: nowrap;
  position: relative;
  margin-right: 20px;
}

.menu li {
  list-style: none;
  color: #424241;
  margin-top: 11px;
}

.menu p {
  color: #9f9e9b;
}

.menu__player li:nth-child(2) {
  background-image: url(../../assets/play-icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 22px;
  cursor: pointer;
}

.menu__player li:nth-child(3) {
  background-image: url(../../assets/upload-song.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 22px;
  cursor: pointer;
}

.menu__media li:nth-child(2) {
  background-image: url(../../assets/songs-icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 22px;
  cursor: pointer;
}
.menu__media li:nth-child(3) {
  background-image: url(../../assets/last-added-icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 22px;
  cursor: pointer;
}
.menu__media li:nth-child(4) {
  background-image: url(../../assets/artists-icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 22px;
  cursor: pointer;
}

.menu__playlist-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  overflow-x: auto;
}

.menu__playlist-box::-webkit-scrollbar {
  width: 8px;
}
.menu__playlist-box::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
}
.menu__playlist-box::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #888;
}
.menu__playlist-box::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.menu__playlist-title {
  margin-top: 0;
}

.menu__playlist li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../../assets/playlists-icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 22px;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 12px;
  border: 1px solid #000;
  background-color: #c8c8c8;
  transition: background-color 0.2s;
}

.menu__playlist li:hover {
  transition-delay: 0.1s;
  background-color: #f5efef;
}
