.playlist-card {
  width: 33.333%;
  position: relative;
  cursor: pointer;
  perspective: 1000px;
  padding: 10px 20px 30px;
}

.playlist-card_inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.playlist-card_front,
.playlist-card_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.playlist-card_front {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, .05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 10px 10px 20px;
  transform: rotateY(0deg);

}

.playlist-card_back {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, .05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 5px 20px 5px;
  transform: rotateY(180deg);
}

.playlist-delete {
  position: absolute;
  top: -20px;
  right: -20px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, .05);
  border-radius: 20px;
  padding: 4px;
}


.playlist-rotate {
  /* transform: scale(1.04) rotate(1deg); */
  transform: rotateY(180deg);

}

.playlist-card_box {
  margin-bottom: 10px;
  width: 100%;
  height: 150px;
}

.playlist-card_cover {
  opacity: 0.7;
  border-radius: 8px;
  object-fit: cover;
  height: 100%;
}


.playlist-card_circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#0f5d5c, #58216f);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.playlist-card_circle:nth-child(1) {
  top: -25px;
  left: -25px;
  z-index: -1;
}

.playlist-card_circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

.playlist-card_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: max-content;
  padding: 12px 16px;
  background: #e9e6eb2a;
  color: #e8e5e5;
  border: 1px solid rgba(159, 160, 168, 0.4);
  border-radius: 12px;
  outline: 0;
  font-size: clamp(0.7rem, 3vw, 1rem);
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 0.4s linear;
  cursor: pointer;
}

.playlist-card_btn:is(:hover, :focus-visible) {
  background: #e9e6eb;
  color: #000;
}

.playlist-card_title {
  margin-bottom: 10px;
  white-space: nowrap;
}

.playlist-card_songs {
  margin-bottom: 10px;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}