.songCard {
  height: 60px;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.1s;
  background: linear-gradient(106deg, #485972 0%, #212228 100%);
}
.songCard img {
  border-radius: 10px;
}

.songCard_selected img {
  border-radius: 10px;
}

.songCard:hover {
  transition-delay: 0.1s;
  background: linear-gradient(106deg, #686d74 0%, #494a4f 100%);
}

.songCard_selected {
  height: 60px;
  display: flex;
  background: radial-gradient(
    151.92% 127.02% at 15.32% 21.04%,
    rgba(165, 239, 255, 0.2) 0%,
    rgba(244, 253, 255, 0.18) 38.88%,
    rgba(193, 230, 255, 0.1) 78.35%,
    rgba(70, 144, 212, 0) 100%
  );
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.1s;
}

.songCard_selected:hover {
  transition-delay: 0.1s;
  background: linear-gradient(106deg, #686d74 0%, #494a4f 100%);
}

.songCard__addtoplaylist ul {
  list-style: none;
  position: absolute;
  top: -10px;
  z-index: 1;
  height: 108px;
  overflow-y: scroll;
}

.songCard__addtoplaylist ul::-webkit-scrollbar {
  width: 8px;
}
.songCard__addtoplaylist ul::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}
.songCard__addtoplaylist ul::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #888;
}
.songCard__addtoplaylist ul::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.songCard__addtoplaylist {
  display: flex;
  position: relative;
  align-items: center;
}

.songCard__artist {
  margin: 0 auto;
  align-self: center;
}

.songCard__title {
  align-self: center;
  margin-left: 30px;
}

.songCard__chooseplaylist {
  border-radius: 24px;
  border: 1px solid;
  background: linear-gradient(106deg, #485972 0%, #212228 100%);
  padding: 4px 12px;
  margin-bottom: 5px;
}

.songCard__chooseplaylist:hover {
  background-color: #e0d4d4;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.img-animation {
  animation: fadeIn 0.5s; /* Здесь 1s - это продолжительность анимации, можно изменить по вашему усмотрению */
}
