.songCard {
  height: 60px;
  display: flex;
}

.songCard_selected {
  height: 60px;
  display: flex;
  background-color: gray;
}

.songCard__addtoplaylist ul {
  list-style: none;
  position: absolute;
  z-index: 1;
}

.songCard__addtoplaylist {
  margin-left: auto;
  display: flex;
  position: relative;
}
