.tracklist-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.tracklist-reload {
  cursor: pointer;
  font-size: 22px;
  margin-right: 20px;
}

.song-container {
  align-items: center;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Containers Scrollbar Style */

.song-container::-webkit-scrollbar,
.song-container::-webkit-scrollbar {
  width: 10px;
}

.song-container::-webkit-scrollbar-track,
.song-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3rem rgb(79, 78, 78);
  border-radius: 40px;
}

.song-container::-webkit-scrollbar-thumb,
.song-container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.5rem rgb(116, 116, 116);
  background-color: rgba(25, 43, 206, 0.2);
  outline: none;
  border-radius: 40px;
  cursor: pointer;
}