#root {
  font-family: "Nunito", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../public/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

nav ul,
nav ul li {
  outline: 0;
}

nav ul li a {
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 11% 89%;
  width: 95%;
  margin: 40px;
  background: rgba(16, 21, 61, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
    0 1px 0 0 rgba(255, 255, 255, 0.6) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.MuiSvgIcon-root {
  color: #fff;
}

.content {
  display: grid;
  grid-template-columns: 75% 25%;
}

img {
  width: 100%;
}

/* MEDIA QUERIES */

@media (max-width: 1500px) {
  main {
    grid-template-columns: 6% 94%;
  }

  .user-info_img {
    border-radius: 50%;
    padding: 12px 12px 6px;
  }

  .nav-icon {
    text-align: center;
    transform: translateY(2px);
  }

  .nav-text {
    display: none;
  }

  .content {
    grid-template-columns: 70% 30%;
  }
}

@media (max-width: 1310px) {
  main {
    grid-template-columns: 8% 92%;
    margin: 30px;
  }
}

@media (max-width: 1250px) {
  .song {
    grid-template-columns: 30% 30% 30%;
  }


}

@media (max-width: 1100px) {
  .content {
    grid-template-columns: 60% 40%;
  }

  .left-content {
    padding: 40px 20px 20px;
  }

  .song {
    grid-template-columns: 22% 31% 46%;
  }
}

@media (max-width: 910px) {
  main {
    grid-template-columns: 10% 90%;
    margin: 20px;
  }

  .left-content {
    padding: 30px 20px 20px;
  }

  .music-player {
    position: static;
    flex-direction: column;
  }

  .song-volume {
    width: 50%;
    margin: 20px 0;
  }

  .right-content {
    grid-template-rows: 55% 45%;
  }

  .song {
    grid-template-columns: 30% 30% 40%;
  }

  .song-container {
    height: 100%;
  }

}

@media (max-width: 825px) {
  .content {
    grid-template-columns: 52% 48%;
  }


}

@media (max-width: 700px) {
  main {
    grid-template-columns: 15% 85%;
  }

  .content {
    grid-template-columns: 100%;
    grid-template-areas:
      "leftContent"
      "rightContent";
  }

  .music-player {
    grid-column: span 1;
  }

  .main-player {
    border: none;
  }

  div .swiper {
    margin: 0;
  }

  .left-content {
    grid-area: leftContent;
  }

  .right-content {
    grid-area: rightContent;
    border-left: unset;
    grid-template-rows: 60% 40%;
    row-gap: 16px;
  }

  .song {
    grid-template-columns: 22% 30% 45%;
  }

  .song:nth-child(7),
  .song:nth-child(8),
  .song:nth-child(9) {
    display: grid;
  }

  .song-container {
    height: 100vh;
  }
}

@media (max-width: 580px) {
  .main-player {
    justify-content: flex-start;
  }

  .song-container {
    width: 90%;
    align-self: center;
  }

  .music-player {
    width: 85%;
  }




}

@media (max-width: 450px) {
  .user-info img {
    border-radius: 50%;
    padding: 6px 6px 2px;
  }

  .song-volume {
    width: 80%;
  }

  .song {
    grid-template-columns: 26% 30% 45%;
  }
}